*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content:center;
  align-items: center;
}

.contactos{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: white;
}
.contactos hr{
  position: absolute;
  width: 70%;
  right: 0;
}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  box-shadow:4px 4px 4px 4px rgba(0,0,0,0.1);
}

.img-card{
  display: flex;
  aspect-ratio: 1/1;
  width: 40%;
  border-radius: 50px;
}
.separador-card{
  margin-top: 5px;
  width: 90%;
}

.follow{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-color: transparent;
  border-color: #C1D72F;
}
.follow i{
  font-size: 1.5rem;
  color:#C1D72F;
  cursor: pointer;
}