*{
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}
.container{
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  text-align: center;
  gap:30px;
}

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  box-shadow:4px 4px 4px 4px rgba(0,0,0,0.1);
}

.img-card{
  display: flex;
  aspect-ratio: 1/1;
  width: 40%;
  border-radius: 50px;
}
.separador-card{
  width: 90%;
}

.follow{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  background-color: transparent;
  border-color: #C1D72F;
}
.follow i{
  font-size: 1.5rem;
  color:#C1D72F;
  cursor: pointer;
}